
#title {
    background-color: #E3F6FF; 
    color:  #2d286a;
    font-family: 'Montserrat', sans-serif;
    /* padding-top: 15%; */
    background-image: url("../images/estimulacion-temprana.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
#title h1 {
    text-align: center;
}
i {
    margin-right: 10px ;
}

.section_titles {
    font-weight: 900;
    line-height: 1.5;
    font-size: 2.5rem; 
    text-align: left;                                                                                                                                                                                                                                                                                                                                                                                             
}
.titlebg {
    background-color:rgba(227, 246, 255,.5);
    padding: 5%;
    ;
}

.title-padding {
    padding:7% 0 7%;
}
.main-padding {
    padding-left: 14%;
    padding-right: 14%;
}

.section-padding {
    padding:3% 14% 7%;
}
.logo {
    width: 50%;

}
.image-padding {
    padding-left: 20%;
}

.container-fluid {
   
    background-color: #2d286a;

} 
.space-right {
    padding-right: 7%;
}
.space-left {
    padding-left: 7%;
}
.space_up {
    padding-top :5% ;
}

.space_bottom {
    padding-bottom: 15%;
}
.navbar-toggler {
    color:#E3F6FF;
}

.nav-item {
    font-size: 1.2rem;
    color: #E3F6FF;
}
.nav-item:hover {

    color:#EB455F;
}
.logomini {
    width:35% ;

}

/* Aqui inicia la seccion de quienes somos  */
#quienes_somos {
    padding-top: 10%;
    font-family: 'Montserrat', sans-serif;
    color: #2d286a;
    /* background-image: url("../images/bg1.png");
    background-size: contain;
    animation: image 10s infinite alternate; */
    background-image: url("../images/pencilbg.png"), url("../images/topbg.png");
    background-repeat: repeat-y, repeat-x;
    background-size: 10%, 50% ;
} 

@keyframes image {
    0% {
      background-image: url('../images/bg1.png');
    }
    100% {
      background-image: url('../images/bg2.jpg');
    }
  }

.quienes_img {
    padding-top: 10%;
    width: 70%;
    border-radius: 100%;

}

.colbg {
    background-color: #fff;
    padding: 5%;
}
.colbg:hover {
    background-color: #E3F6FF;
    box-shadow: 5px 5px 5px #BAD7E9;

}

#quienes_somos h2 {
    padding: 10px 0 30px;
    font-size: 1.5rem;
}
#quienes_somos p  {
    line-height: 1.5;
    padding-bottom: 15px;
    font-size:.8rem;
    text-align: left;
}
.quienes_links {
    text-decoration: none;
    color: #2d286a;

}
.quienes_links:hover {
        color: #EB455F;
}
/* Seccion de Servicios */
#servicios, #contactenos {
    padding-top:10%;
    background-color: #E3F6FF; 
    color: #2d286a;
    font-family: 'Montserrat', sans-serif;
}
.box {
   padding: 2% 5% 7%;
}

/* Carousel Custom Modifications */
.carousel-item {
    padding: 7% 15%;
    
}

.carousel-caption {
    color: #2d286a;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size:.8rem;
    background-color: #E3F6FF;
    text-align: left;
}
.p-padding {
    padding-bottom: 5%;
}
/* <!-- Ubicacion y Horarios --> */
#ubicacion {
    padding-top: 10%;
    font-family: 'Montserrat', sans-serif;
    color: #2d286a;
    padding-bottom: 15px;
    background-image: url("../images/bg_cra.png"), url("../images/topbg.png"),url("../images/flowers.png");
    background-repeat: repeat-y, repeat-x, repeat-x;
    background-size: 10%, 50%, 15% ;
    background-position: left, top,bottom;
}

.dir_box {
    background-color: rgba(227, 246, 255,.5);
    text-align: left;

}
#ubicacion p, #contactenos p {

    line-height: 1.5;
    font-size:.8rem;
}



.addr_padding {
    padding: 5%;
}

/* <!-- Contactanos --> */
#contactenos p {

    line-height: 1;
    font-size:.8rem;
}
.form-control {
    font-size:.8rem;
    font-family: 'Montserrat', sans-serif;

}
.btn-primary {
    font-size:.8rem;
    font-family: 'Montserrat', sans-serif;
}
    /* <!-- Footer --> */

#footer {
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #2d286a;
    color: #fff;
    padding: 1% 20%;
}


#footer a{
    text-decoration: none;
    color: #fff;
}
#footer a:hover{
    text-decoration: none;
    color:#EB455F;
}


/* .foot-space {
padding: 0 10px;
} */
   